.select{
 width: 100px;
 height: 48px;
 margin-right: 38px;
 background-color: #1F1D2B;
 border: none;
 border-radius: 8px;
 color: rgb(161, 157, 157);
 font-family: "Barlow";

}

.choose h4 {
    color: white;
    font-family: "Barlow";
}

.choose {
    margin-top: 48px;
}