.orders{
    background-color: #1F1D2B;
    height: 850px !important;
    width: 500px !important;
    margin-left: 900px !important;
    overflow-y: scroll;
    margin-bottom: 24px !important;
}

.orders h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.orders ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.orders li {
    margin-left: 8px;
}

.orders a {
    text-decoration: none;
    font-family: "Barlow";
    border: 1px solid #EA7C69;
    padding: 7px 12px;
    border-radius: 8px;
    color: #EA7C69;
}

.orders a:focus{
    background-color: #EA7C69;
    color: white;
}

.orders a:hover{
    color: #EA7C69;
}

.orders__btn{
    margin-top: 24px;
    margin-left: -25px;
    margin-bottom: 24px;
}

.orders p {
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-right: 24px;
}

.orders hr {
    color: white;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}

.orders__button{
    padding: 14px 116px;
    background-color: #EA7C69;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: "Barlow";
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
    margin-bottom: 24px !important;
}

.offcanvas{
    background-color: #1F1D2B !important;
    border-radius: 15px !important;
}

.offcanvas-title{
    font-family: "Barlow";
    color: white;
}

.offcanvas-header{
    margin-top: 10px !important;
}

.offcanvas-body h5 {
    color: white;
    font-family: "Barlow";
}

.credite-btn{
    border: none;
    background-color: #252836;
    width: 101px !important;
    height: 64px !important;
    border-radius: 8px !important;
    border: 1px solid #ABBBC2;
}

.credite-btn p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    border-radius: 8px;
}

.form label {
    font-family: "Barlow";
    color: white;
}

.form input {
    border: none;
    width: 357px !important;
    height: 48px !important;
    background: #2D303E;
    border-radius: 8px;
    color: white;
    font-family: "Barlow";
    outline: none;
}

.carta input {
    width: 172px !important;
    height: 48px !important;
}

.carta select {
    width: 172px !important;
    height: 48px !important;
    background-color: transparent;
    border: none;
    border: 1px solid #393C49;
    border-radius: 8px ;
    color: white;
    font-family: "Barlow";
}

.carta option {
    background-color: #252836;
}

.cancel{
    width: 175px !important;
    height: 48px !important;
    background-color: transparent;
    border: none;
    color: #EA7C69;
    border: 1px solid #EA7C69;
    font-family: "Barlow";
    border-radius: 8px;
}

.cancel:hover{
    background-color: #EA7C69;
    color: white;
    transition: all 0.4s;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4);
}

.payment {
    width: 175px !important;
    height: 48px !important;
    background-color: #EA7C69;
    border: none;
    color: white;
    border: 1px solid #EA7C69;
    font-family: "Barlow";
    border-radius: 8px;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4);
}

.payment:hover{
    background-color: transparent;
    color: #EA7C69;
    transition: all 0.4s;
}