.users{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.usersName{
    margin-left: 40px !important;
    position: absolute;
}

.userMenu{
    max-width: 137px !important;
    margin-left: 160px !important;
}

.userMoney{
    margin-left: 50px !important;
}

.user-btn{
    margin-left: 181px !important;
}

.users p {
    color: white;
    font-family: "Barlow";
    padding: 0;
    margin: 0;
}