.products {
    width: 850px !important;
    height: 723px !important;
    background: #1F1D2B;
    border-radius: 8px;
    margin-top: 75px;
    margin-left: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px ;
    border-radius: 10px;
    background-color: #F5F5F5;

}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;

}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #EA7C69;
    background-color: #EA7C69;
    height: 10px !important;
}

.products h3 {
    font-family: "Barlow";
    color: white;
}

.filter{
    border: none;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 14px 40px;
    color: white;
    font-family: "Barlow";
    margin-right: 24px;
    margin-top: 24px;
}

.product__bottom{
    background: #1F1D2B;
    width: 850px !important;
    height: 100px;
    /* margin-top: -10px; */
    position: absolute;
    border-radius: 8px;
}

.discard-btn{
    border: none;
    padding: 14px 43px;
    background-color: transparent;
    border: 1px solid #EA7C69;
    border-radius: 8px;
    color: white;
    font-family: "Barlow";
    margin-top: 20px;
    margin-left: 20px;
}

.save-btn {
    border: none;
    padding: 14px 43px;
    border: none;
    padding: 14px 43px;
    background-color: #EA7C69;
    border-radius: 8px;
    color: white;
    font-family: "Barlow";
}

.modal-link{
    width: 221px !important;
    height: 299px !important;
    border-radius: 16px !important;
    border-style: dashed;
    border-color: #EA7C69;
    margin-top: 50px !important;
    background-color: transparent;
}

.modal-link p {
    font-family: "Barlow";
    color:  #EA7C69;
}

.modal-link button {
    border: none;
    background-color: transparent;
}